@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url(background.png);
    background-size: 10px;
}


*{
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "h h h h"
                         "n n n n"
                         "ar ar ar as"
                         "f f f f";

    gap: 10px;
    color: white;
}

header, nav, article, aside, footer{
    border: 3px solid #574327;
}

header{
    grid-area: h;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    text-align: center;
}

nav{
    grid-area: n;
}

nav a{
    text-decoration: none;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li{
    list-style-type: none;
}

article{
    grid-area: ar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

aside{
    grid-area: as;
    padding: 10px;
}

footer{
    grid-area: f;
    text-align: center;
    padding: 5px;
}

button{
    background-color: rgb(0, 0, 220);
    padding: 0;
    text-align: center;
    padding: 2px 30px 2px 30px;
    border: 2px solid blue;
    border-radius: 10px;
    color: white;
    font-family: "Neucha";
}

.gomb a{
    text-decoration: none;
}

.termek{
    margin: 10px;
    padding: 5px;
    border: 3px solid #574327;
    background-color: black;
}

.vonalkod{
    font-family: "Libre Barcode 39";
}

.arced{
    max-width: 300px;
    border: 1px solid black;
    margin-left: 25px;
    padding: 10px;
    text-align: center;
    font-family: 'Kaushan Script';
}

.termek img{
    width: 200px;
    margin-left: 75px;
}

.termek h3{
    text-align: center;
    font-family: "Covered By Your Grace";
    font-size: 18pt;
}

::-webkit-scrollbar{
    background: url(background.png);
    background-size: 10px;
    max-width: 7.5px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 20px;
}